.PMS__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 43, 0.596);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN, SIGNUP*/
.PMS__modal_login, .PMS__modal_signup {
    position: relative;
    width: 400px;
    background: #fff;
    border-radius: 6px;
    padding: 3rem 0;
}
.PMS__modal_login .cross, .PMS__modal_signup .cross{
    position: absolute;
    height: 30px;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.PMS__modal_login-inputs, .PMS__modal_signup-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PMS__modal_login input, .PMS__modal_signup input {
    margin: 1rem;
    outline: none;
    width: 200px;
}
.PMS__modal_login-buttons, .PMS__modal_signup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.PMS__modal_login-buttons button, .PMS__modal_signup-buttons button {
    margin: 1rem;
    background-color: var(--clr-yellow);
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 5px;
}
