.PMS__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 43, 0.596);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN, SIGNUP*/
.PMS__modal_login {
    position: relative;
    width: 500px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
    border: none;
    padding: 3rem 0;
}
.PMS__modal_signup {
    position: relative;
    width: 500px;
    height: 575px;
    background: #fff;
    border-radius: 6px;
    border: none;
    padding: 3rem 0;
}

.PMS__modal-logo-container {
    height: 120px;
    width: 70px;
    position: absolute;
    top: -60px;
    left: 220px;

}
.PMS__modal-logo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.PMS__modal_login .cross, .PMS__modal_signup .cross{
    position: absolute;
    height: 30px;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.PMS__modal_login-inputs, .PMS__modal_signup-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.PMS__modal_login-container, .PMS__modal_signup-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.PMS__modal_login input, .PMS__modal_signup input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    outline: .5px solid #003366;
    width: 290px;
}

.PMS__modal_signup #signup-ID {
    margin-bottom: 10px;
    text-align: start;
}

.note {
    font-size: .8rem;
    font-weight: 500;
}

.PMS__modal_login-buttons, .PMS__modal_signup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.PMS__modal_login-buttons button, .PMS__modal_signup-buttons button {
    margin-top: 20px;
    background-color: var(--clr-yellow);
    font-weight: 500;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 30%;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
    transition: all 500ms;
}