.PMS__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: .3rem 5rem .3rem 5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.PMS__navbar-logo img {
    height: 50px;
    width: 40px;
    cursor: pointer;
}

.PMS__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
.PMS__navbar-links a {
    color: #fff;
    margin: 1rem;
    cursor: pointer;
}
.PMS__navbar-links a:hover {
    color: #f4ba1cff;
}

.PMS__navbar-login,
.PMS__navbar-signup {
    border: none;
    background-color: #f4ba1cff;
    padding: .4rem .8rem;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 1rem;

    transition: all 500ms;
    cursor: pointer;
}
.PMS__navbar-login:hover,
.PMS__navbar-signup:hover {
    transform: scale(1.1);
}
.PMS__navbar-login {
    border: solid 1px;
    background-color: #003366;
}
