* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

li {
    list-style: none;
    text-decoration: none;
}

.Link {
    color: #fff;
    text-decoration: none;
}
.Link:hover {
    color: #f4ba1cff;
}