.PMS__header {
    background: url(../../assets/background_urs.jpg);
    background-repeat: no-repeat;
    background-position:center;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PMS__header-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.PMS__header-heading p {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-wrap: wrap;
    text-align: center;
}

.PMS__header-scan {
    border: none;
    padding: .7rem 2rem;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 1rem;
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.1);
    border: solid 2px white;
    transition: all 500ms;
}
.PMS__header-scan:hover {
    transform: scale(1.1);
}
